<!--Error dialogue-->
<amexio-window [show-window]="errorFlag"
               [header]="true"
			   [footer]="true" 
			   [draggable]="true" 
			   [vertical-position]="'center'" 
			   [horizontal-position]="'center'" 
			   [closable]="false"
               >
	<amexio-header>
        <i class="fa fa-exclamation-triangle"></i> Ошибка
      </amexio-header>
	   <amexio-body>
        <amexio-row>
          <amexio-column [size]="11">
		  <span style="color:red">{{errorMessage}}</span>
		  </amexio-column>
        </amexio-row>
	</amexio-body> 
	<amexio-action> 
	<amexio-row> 
	<amexio-column size="11"> 
     <amexio-button  [label]="'Ok'" (onClick)="errorFlag=false" [type]="'red'" [tooltip]="'Ok'" [icon]="'fa fa-exclamation-triangle'"></amexio-button>
	</amexio-column> 
	</amexio-row> 
	</amexio-action> 
</amexio-window>
<!-- edit row pane -->	 
 <amexio-window [closable]="false" [maximize]="true" [vertical-position]="'center'"    [horizontal-position]="'center'"  [draggable]="true" [remember-window-position]="true" [show-window]="opened" [header]="true" [footer]="true" > 
	  <amexio-header> 
        {{formMsg}} Данные::Эл. Энергия 
<amexio-box *ngIf="valid==false" border-color ="red" border="all" padding="true" background-color="yellow">
	<amexio-label font-color="red"  border="bottom">Ошибка заполнения формы</amexio-label>
</amexio-box>
      </amexio-header> 
     <amexio-body> 
     <amexio-row><amexio-column size="12" >
 <amexio-number-input  [enable-popover]= "false" [field-label]="'Энергия общ.'" name ="E0" 
                    [place-holder]="'Энергия общ.'" 
            [allow-blank]="true" 
	 [(ngModel)]="currentDATA_EQ.E0"
                    > 
 </amexio-number-input>
     </amexio-column></amexio-row>
     <amexio-row><amexio-column size="12" >
 <amexio-number-input  [enable-popover]= "false" [field-label]="'Энергия тариф 1'" name ="E1" 
                    [place-holder]="'Энергия тариф 1'" 
            [allow-blank]="true" 
	 [(ngModel)]="currentDATA_EQ.E1"
                    > 
 </amexio-number-input>
     </amexio-column></amexio-row>
     <amexio-row><amexio-column size="12" >
 <amexio-number-input  [enable-popover]= "false" [field-label]="'Энергия тариф 2'" name ="E2" 
                    [place-holder]="'Энергия тариф 2'" 
            [allow-blank]="true" 
	 [(ngModel)]="currentDATA_EQ.E2"
                    > 
 </amexio-number-input>
     </amexio-column></amexio-row>
     <amexio-row><amexio-column size="12" >
 <amexio-number-input  [enable-popover]= "false" [field-label]="'Энергия тариф 3'" name ="E3" 
                    [place-holder]="'Энергия тариф 3'" 
            [allow-blank]="true" 
	 [(ngModel)]="currentDATA_EQ.E3"
                    > 
 </amexio-number-input>
     </amexio-column></amexio-row>
     <amexio-row><amexio-column size="12" >
 <amexio-number-input  [enable-popover]= "false" [field-label]="'Энергия тариф 4'" name ="E4" 
                    [place-holder]="'Энергия тариф 4'" 
            [allow-blank]="true" 
	 [(ngModel)]="currentDATA_EQ.E4"
                    > 
 </amexio-number-input>
     </amexio-column></amexio-row>
     <amexio-row><amexio-column size="12" >
 <amexio-number-input  [enable-popover]= "false" [field-label]="'Активная +'" name ="AP" 
                    [place-holder]="'Активная +'" 
            [allow-blank]="true" 
	 [(ngModel)]="currentDATA_EQ.AP"
                    > 
 </amexio-number-input>
     </amexio-column></amexio-row>
     <amexio-row><amexio-column size="12" >
 <amexio-number-input  [enable-popover]= "false" [field-label]="'Активная - '" name ="AM" 
                    [place-holder]="'Активная - '" 
            [allow-blank]="true" 
	 [(ngModel)]="currentDATA_EQ.AM"
                    > 
 </amexio-number-input>
     </amexio-column></amexio-row>
     <amexio-row><amexio-column size="12" >
 <amexio-number-input  [enable-popover]= "false" [field-label]="'Реактивная +'" name ="RP" 
                    [place-holder]="'Реактивная +'" 
            [allow-blank]="true" 
	 [(ngModel)]="currentDATA_EQ.RP"
                    > 
 </amexio-number-input>
     </amexio-column></amexio-row>
     <amexio-row><amexio-column size="12" >
 <amexio-number-input  [enable-popover]= "false" [field-label]="'Реактивная -'" name ="RM" 
                    [place-holder]="'Реактивная -'" 
            [allow-blank]="true" 
	 [(ngModel)]="currentDATA_EQ.RM"
                    > 
 </amexio-number-input>
     </amexio-column></amexio-row>
	</amexio-body> 
	<amexio-action> 
	<amexio-row> 
	<amexio-column size="12"> 
     <amexio-button  [label]="'Отмена'" (onClick)="opened = false;  refreshDATA_EQ();" [type]="'secondary'" [tooltip]="'Отмена'" [icon]="'fa fa-times'"></amexio-button>
     <amexio-button  [label]="'Сохранить'" (onClick)="save(currentDATA_EQ)" [type]="'success'" [tooltip]="'Сохранить'" [icon]="'fa fa-save'"></amexio-button>
	</amexio-column> 
	</amexio-row> 
	</amexio-action> 
</amexio-window> 
   
<!-- list Of row pane --> 
<amexio-card [show]="true" [header] ="true" [footer] ="false" > 
    <amexio-header> 
	<amexio-row> 
		<amexio-column size="12" > 
		<amexio-button [disabled]="AppService.LastDATA_RECORD.DATA_RECORDId==null" [label]="'Создать'" [type]="'secondary'" [tooltip]="'Создать новую запись'" [icon]="'fa fa-plus'" (onClick)="onNew()"></amexio-button>
		<amexio-button [disabled]="currentDATA_EQ.DATA_EQId==null" [label]="'Изменить'" (onClick)="onEdit(currentDATA_EQ)" [type]="'secondary'" [tooltip]="'Изменить запись'" [icon]="'fa fa-edit'"></amexio-button>
     <amexio-button [disabled]="currentDATA_EQ.DATA_EQId==null" [label]="'Удалить'" (onClick)="onDelete(currentDATA_EQ)" [type]="'secondary'" [tooltip]="'Удалить запись'" [icon]="'fa fa-trash'"></amexio-button>
     <amexio-button  [label]="'Обновить'" (onClick)="refreshDATA_EQ()" [type]="'secondary'" [tooltip]="'Обновить данные'" [icon]="'fa fa-refresh'"></amexio-button>
		</amexio-column>
	</amexio-row> 
	</amexio-header> 
	<amexio-body> 
		<amexio-datagrid 
		  [title]="'Данные::Эл. Энергия'" 
		  [page-size] = "10" 
		  [enable-data-filter]="false" 
		  [enable-checkbox]="false" 
		  [data]="DATA_EQArray" 
		  (selectedRowData)="onSelect($event)" 
		  (rowSelect)="onSelect($event)"> 
		  <amexio-data-table-column [data-index]="'E0'" [data-type]="'number'" [hidden]="false" [text]="'Энергия общ.'"></amexio-data-table-column> 
		  <amexio-data-table-column [data-index]="'E1'" [data-type]="'number'" [hidden]="false" [text]="'Энергия тариф 1'"></amexio-data-table-column> 
		  <amexio-data-table-column [data-index]="'E2'" [data-type]="'number'" [hidden]="false" [text]="'Энергия тариф 2'"></amexio-data-table-column> 
		  <amexio-data-table-column [data-index]="'E3'" [data-type]="'number'" [hidden]="false" [text]="'Энергия тариф 3'"></amexio-data-table-column> 
		  <amexio-data-table-column [data-index]="'E4'" [data-type]="'number'" [hidden]="false" [text]="'Энергия тариф 4'"></amexio-data-table-column> 
		  <amexio-data-table-column [data-index]="'AP'" [data-type]="'number'" [hidden]="false" [text]="'Активная +'"></amexio-data-table-column> 
		  <amexio-data-table-column [data-index]="'AM'" [data-type]="'number'" [hidden]="false" [text]="'Активная - '"></amexio-data-table-column> 
		  <amexio-data-table-column [data-index]="'RP'" [data-type]="'number'" [hidden]="false" [text]="'Реактивная +'"></amexio-data-table-column> 
		  <amexio-data-table-column [data-index]="'RM'" [data-type]="'number'" [hidden]="false" [text]="'Реактивная -'"></amexio-data-table-column> 
		</amexio-datagrid> 
	</amexio-body> 
</amexio-card> 
 
<!-- confirm delete  dialog -->  
<amexio-window  [(show-window)]="confirmOpened" [closable]="false" [header]="true" [footer]="true" >  
     
    <amexio-header>
Удалить строку:  Данные::Эл. Энергия ?
    </amexio-header> 
    <amexio-body> 
            Удалить запись: {{ (currentDATA_EQ.AP||'') | removehtmltag }}?  
	</amexio-body> 
	<amexio-action> 
	<amexio-row> 
	<amexio-column size="12"> 
     <amexio-button  [label]="'Отмена'" (onClick)="confirmOpened = false" [type]="'secondary'" [tooltip]="'Отмена'" [icon]="'fa fa-times'"></amexio-button>
     <amexio-button  [label]="'Удалить'" (onClick)="onConfirmDeletion()" [type]="'danger'" [tooltip]="'Удалить'" [icon]="'fa fa-trash'"></amexio-button>
	</amexio-column> 
	</amexio-row> 
	</amexio-action> 
</amexio-window> 
 
