<!--Error dialogue-->
<amexio-window [show-window]="errorFlag"
               [header]="true"
			   [footer]="true" 
			   [draggable]="true" 
			   [vertical-position]="'center'" 
			   [horizontal-position]="'center'" 
			   [closable]="false"
               >
	<amexio-header>
        <i class="fa fa-exclamation-triangle"></i> Ошибка
      </amexio-header>
	   <amexio-body>
        <amexio-row>
          <amexio-column [size]="11">
		  <span style="color:red">{{errorMessage}}</span>
		  </amexio-column>
        </amexio-row>
	</amexio-body> 
	<amexio-action> 
	<amexio-row> 
	<amexio-column size="11"> 
     <amexio-button  [label]="'Ok'" (onClick)="errorFlag=false" [type]="'red'" [tooltip]="'Ok'" [icon]="'fa fa-exclamation-triangle'"></amexio-button>
	</amexio-column> 
	</amexio-row> 
	</amexio-action> 
</amexio-window>
<!-- edit row pane -->	 
 <amexio-window [closable]="false" [maximize]="true" [vertical-position]="'center'"    [horizontal-position]="'center'"  [draggable]="true" [remember-window-position]="true" [show-window]="opened" [header]="true" [footer]="true" > 
	  <amexio-header> 
        {{formMsg}} Устройство::Граничные значения 
<amexio-box *ngIf="valid==false" border-color ="red" border="all" padding="true" background-color="yellow">
	<amexio-label font-color="red"  border="bottom">Ошибка заполнения формы</amexio-label>
</amexio-box>
      </amexio-header> 
     <amexio-body> 
     <amexio-row><amexio-column size="12" >
	 <amexio-dropdown 
	 [place-holder] = "'Параметр'"
	 name ="PNAME"
	 [field-label]= "'Параметр'"
            [allow-blank]="false" [error-msg] ="'Не задано: Параметр'" 
	 
	 [display-field]="'name'"
	 [value-field]="'id'"
	 [data]="AppService.ComboMOND_PARAM"
	 
	 [(ngModel)]="currentMONDEV_VALUEBOUNDS.PNAME"
	 >
  </amexio-dropdown>
     </amexio-column></amexio-row>
     <amexio-row><amexio-column size="12" >
	 <amexio-dropdown 
	 [place-holder] = "'Тип архива'"
	 name ="PTYPE"
	 [field-label]= "'Тип архива'"
            [allow-blank]="false" [error-msg] ="'Не задано: Тип архива'" 
	 
	 [display-field]="'name'"
	 [value-field]="'id'"
	 [data]="AppService.ComboMOND_ATYPE"
	 
	 [(ngModel)]="currentMONDEV_VALUEBOUNDS.PTYPE"
	 >
  </amexio-dropdown>
     </amexio-column></amexio-row>
     <amexio-row><amexio-column size="12" >
 <amexio-number-input  [enable-popover]= "false" [field-label]="'Минимальное значение'" name ="PMIN" 
                    [place-holder]="'Минимальное значение'" 
            [allow-blank]="true" 
	 [(ngModel)]="currentMONDEV_VALUEBOUNDS.PMIN"
                    > 
 </amexio-number-input>
     </amexio-column></amexio-row>
     <amexio-row><amexio-column size="12" >
 <amexio-number-input  [enable-popover]= "false" [field-label]="'Максимальное значение'" name ="PMAX" 
                    [place-holder]="'Максимальное значение'" 
            [allow-blank]="true" 
	 [(ngModel)]="currentMONDEV_VALUEBOUNDS.PMAX"
                    > 
 </amexio-number-input>
     </amexio-column></amexio-row>
     <amexio-row><amexio-column size="12" >
<amexio-dropdown 
	 [field-label]="'Проверять на минимум'" name ="ISMIN" 
                    [place-holder]="'Проверять на минимум'" 
	 [(ngModel)]="currentMONDEV_VALUEBOUNDS.ISMIN"
            [allow-blank]="false" [error-msg] ="'Не задано: Проверять на минимум'" 
	 [display-field]="'name'"
	 [value-field]="'id'"
	 [data]="AppService.enumBooleanCombo()"
	 >
</amexio-dropdown>
     </amexio-column></amexio-row>
     <amexio-row><amexio-column size="12" >
<amexio-dropdown 
	 [field-label]="'Проверять на максимум'" name ="ISMAX" 
                    [place-holder]="'Проверять на максимум'" 
	 [(ngModel)]="currentMONDEV_VALUEBOUNDS.ISMAX"
            [allow-blank]="false" [error-msg] ="'Не задано: Проверять на максимум'" 
	 [display-field]="'name'"
	 [value-field]="'id'"
	 [data]="AppService.enumBooleanCombo()"
	 >
</amexio-dropdown>
     </amexio-column></amexio-row>
	</amexio-body> 
	<amexio-action> 
	<amexio-row> 
	<amexio-column size="12"> 
     <amexio-button  [label]="'Отмена'" (onClick)="opened = false;  refreshMONDEV_VALUEBOUNDS();" [type]="'secondary'" [tooltip]="'Отмена'" [icon]="'fa fa-times'"></amexio-button>
     <amexio-button  [label]="'Сохранить'" (onClick)="save(currentMONDEV_VALUEBOUNDS)" [type]="'success'" [tooltip]="'Сохранить'" [icon]="'fa fa-save'"></amexio-button>
	</amexio-column> 
	</amexio-row> 
	</amexio-action> 
</amexio-window> 
   
<!-- list Of row pane --> 
<amexio-card [show]="true" [header] ="true" [footer] ="false" > 
    <amexio-header> 
	<amexio-row> 
		<amexio-column size="12" > 
		<amexio-button [disabled]="AppService.LastMONDEV_BDEVICES.MONDEV_BDEVICESId==null" [label]="'Создать'" [type]="'secondary'" [tooltip]="'Создать новую запись'" [icon]="'fa fa-plus'" (onClick)="onNew()"></amexio-button>
		<amexio-button [disabled]="currentMONDEV_VALUEBOUNDS.MONDEV_VALUEBOUNDSId==null" [label]="'Изменить'" (onClick)="onEdit(currentMONDEV_VALUEBOUNDS)" [type]="'secondary'" [tooltip]="'Изменить запись'" [icon]="'fa fa-edit'"></amexio-button>
     <amexio-button [disabled]="currentMONDEV_VALUEBOUNDS.MONDEV_VALUEBOUNDSId==null" [label]="'Удалить'" (onClick)="onDelete(currentMONDEV_VALUEBOUNDS)" [type]="'secondary'" [tooltip]="'Удалить запись'" [icon]="'fa fa-trash'"></amexio-button>
     <amexio-button  [label]="'Обновить'" (onClick)="refreshMONDEV_VALUEBOUNDS()" [type]="'secondary'" [tooltip]="'Обновить данные'" [icon]="'fa fa-refresh'"></amexio-button>
		</amexio-column>
	</amexio-row> 
	</amexio-header> 
	<amexio-body> 
		<amexio-datagrid 
		  [title]="'Устройство::Граничные значения'" 
		  [page-size] = "10" 
		  [enable-data-filter]="false" 
		  [enable-checkbox]="false" 
		  [data]="MONDEV_VALUEBOUNDSArray" 
		  (selectedRowData)="onSelect($event)" 
		  (rowSelect)="onSelect($event)"> 
		  <amexio-data-table-column [data-index]="'PNAME_name'" [data-type]="'string'" [hidden]="false" [text]="'Параметр'"></amexio-data-table-column> 
		  <amexio-data-table-column [data-index]="'PTYPE_name'" [data-type]="'string'" [hidden]="false" [text]="'Тип архива'"></amexio-data-table-column> 
		  <amexio-data-table-column [data-index]="'PMIN'" [data-type]="'number'" [hidden]="false" [text]="'Минимальное значение'"></amexio-data-table-column> 
		  <amexio-data-table-column [data-index]="'PMAX'" [data-type]="'number'" [hidden]="false" [text]="'Максимальное значение'"></amexio-data-table-column> 
		  <amexio-data-table-column [data-index]="'ISMIN_name'" [data-type]="'string'" [hidden]="false" [text]="'Проверять на минимум'"></amexio-data-table-column> 
		  <amexio-data-table-column [data-index]="'ISMAX_name'" [data-type]="'string'" [hidden]="false" [text]="'Проверять на максимум'"></amexio-data-table-column> 
		</amexio-datagrid> 
	</amexio-body> 
</amexio-card> 
 
<!-- confirm delete  dialog -->  
<amexio-window  [(show-window)]="confirmOpened" [closable]="false" [header]="true" [footer]="true" >  
     
    <amexio-header>
Удалить строку:  Устройство::Граничные значения ?
    </amexio-header> 
    <amexio-body> 
            Удалить запись: {{ ( (currentMONDEV_VALUEBOUNDS.PNAME_name +'; '+  currentMONDEV_VALUEBOUNDS.PTYPE_name||'').length >100 ? (currentMONDEV_VALUEBOUNDS.PNAME_name +'; '+  currentMONDEV_VALUEBOUNDS.PTYPE_name||'').substr(0,100)+'...' : (currentMONDEV_VALUEBOUNDS.PNAME_name +'; '+  currentMONDEV_VALUEBOUNDS.PTYPE_name||'')) | removehtmltag }}?  
	</amexio-body> 
	<amexio-action> 
	<amexio-row> 
	<amexio-column size="12"> 
     <amexio-button  [label]="'Отмена'" (onClick)="confirmOpened = false" [type]="'secondary'" [tooltip]="'Отмена'" [icon]="'fa fa-times'"></amexio-button>
     <amexio-button  [label]="'Удалить'" (onClick)="onConfirmDeletion()" [type]="'danger'" [tooltip]="'Удалить'" [icon]="'fa fa-trash'"></amexio-button>
	</amexio-column> 
	</amexio-row> 
	</amexio-action> 
</amexio-window> 
 
