<amexio-layout-grid [layout]="'LayoutSample1'">
		<amexio-grid-item style="border: 1px dashed black; " [name]="'gridheader'">
				<amexio-label size="large">
						Диспетчер
					</amexio-label>
		</amexio-grid-item>
		<amexio-grid-item style="border: 1px dashed black; " [name]="'gridfilter'">
				<DISPATCHER_FILTER></DISPATCHER_FILTER>
		</amexio-grid-item>
		<amexio-grid-item style="border: 1px dashed black" [name]="'gridmenu'">
			<amexio-datagrid name="nodegrid"
					[title]="'Устройства'"
					[page-size] = "10"
					[global-filter]="false"
					[data]="NodeArray" 
					[groupby]="false"
					[groupby-data-index]="'NodeName'"
					
					(selectedRowData)="onNodeSelect($event)"
					(rowSelect)="onNodeSelect($event)">
				
					<amexio-data-table-column [data-index]="'NodeName'"
					[data-type]="'string'"
					[hidden]="true"
					>
</amexio-data-table-column> 
				
					<amexio-data-table-column [data-index]="'DeviceName'"
																		[data-type]="'string'"
																		[hidden]="false"
																		>
					</amexio-data-table-column>
				
				</amexio-datagrid>


		</amexio-grid-item>
		<amexio-grid-item style="border: 1px dashed black" [name]="'gridmain'">
			<amexio-tab-view  [closable]="false" (onClick)="refreshList($event)">
				<amexio-tab  title="Данные"  [active]="true" >
					<DISPATCHER_DATA></DISPATCHER_DATA>
				</amexio-tab>
				
				<amexio-tab  title="Графики"  >
					<DISPATCHER_CHART></DISPATCHER_CHART>
				</amexio-tab>
			</amexio-tab-view> 
		</amexio-grid-item>
		<amexio-grid-item style="border: 1px dashed black" [name]="'gridfooter'">(c) 2019</amexio-grid-item>
</amexio-layout-grid>