<amexio-accordion >
        <amexio-accordion-tab amexioColorPalette [color-palette]="'amexio-theme-color1'"  [gradient]="true" header="Мгновенные" [active]="true" (emittedEvent)="chartTab($event)">
              
                            <DISPATCHER_CHARTM></DISPATCHER_CHARTM>
            </amexio-accordion-tab>
        <amexio-accordion-tab amexioColorPalette [color-palette]="'amexio-theme-color1'"  [gradient]="true" header="Дневные" (emittedEvent)="chartTab($event)">
                                <DISPATCHER_CHARTD></DISPATCHER_CHARTD>
            </amexio-accordion-tab>
        
                <amexio-accordion-tab amexioColorPalette [color-palette]="'amexio-theme-color1'"  [gradient]="true" header="Недельные" (emittedEvent)="chartTab($event)">
        
                <DISPATCHER_CHARTW></DISPATCHER_CHARTW>
        
            </amexio-accordion-tab>
</amexio-accordion>