<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="false"
      internalLogLevel="Error"
      internalLogFile="./log/nlog-app.log"
      >
  <!-- Путь к log директории -->
  <variable name="logDir" value="./log/${date:format=yyyy-MM-dd}"/>
  <!-- Настройка Layout -->
  <variable name="shortLayout" value="${date:format=HH\:mm\:ss} (${level:uppercase=true}): ${message}"/>
  <variable name="commonLayout" value="${date:format=dd.MM.yyyy HH\:mm\:ss} (${level:uppercase=true}): ${message}"/>
  <variable name="detailedLayout" value="${date:format=dd.MM.yyyy HH\:mm\:ss} (${level:uppercase=true}) ${callsite}: ${message}. ${exception:format=ToString}"/>
  <targets async="true">
    <target
      name="consoleLog"
      xsi:type="Console"
      layout="${shortLayout}" />
    <target
      name="shortLog"
      xsi:type="File"
      fileName="${logDir}/short.log"
      layout="${commonLayout}" />
    <target
      name="fullLog"
      xsi:type="File"
      fileName="${logDir}/full.log"
      layout="${detailedLayout}" />
    <target xsi:type="Database"
        name="database"
        dbProvider="System.Data.SqlClient"
        connectionStringName="InOutLog"
        commandType="Text"    
        commandText="INSERT INTO [LogsInOut] ( [Date],  [Thread], [Level], [Logger], [Message], [Exception]) VALUES (@Date, @Thread, @Level, @Logger,  @Message, @Exception)" >
      <parameter name="@Date" layout="${date:format=yyyy-MM-dd HH\:mm\:ss}" />
      <parameter name="@Thread" layout="${threadid}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Exception" layout="${exception}" />
    </target>
  </targets>
  <rules>
    <!-- Основные log -->
    <logger name="*" minlevel="Trace" writeTo="fullLog" />   
    <logger name="*" minlevel="Info" writeTo="shortLog" />

    <!-- Вспомогательные log -->
    <logger name="*" minlevel="Info" writeTo="consoleLog" />
    <!--
    <logger name="*" minlevel="Info" writeTo="database" />
    -->
  </rules>
</nlog>