<!--Error dialogue-->
<amexio-window [show-window]="errorFlag"
               [header]="true"
			   [footer]="true" 
			   [draggable]="true" 
			   [vertical-position]="'center'" 
			   [horizontal-position]="'center'" 
			   [closable]="false"
               >
	<amexio-header>
        <i class="fa fa-exclamation-triangle"></i> Ошибка
      </amexio-header>
	   <amexio-body>
        <amexio-row>
          <amexio-column [size]="11">
		  <span style="color:red">{{errorMessage}}</span>
		  </amexio-column>
        </amexio-row>
	</amexio-body> 
	<amexio-action> 
	<amexio-row> 
	<amexio-column size="11"> 
     <amexio-button  [label]="'Ok'" (onClick)="errorFlag=false" [type]="'red'" [tooltip]="'Ok'" [icon]="'fa fa-exclamation-triangle'"></amexio-button>
	</amexio-column> 
	</amexio-row> 
	</amexio-action> 
</amexio-window>
<!-- edit row pane -->	 
 <amexio-window [closable]="false" [maximize]="true" [vertical-position]="'center'"    [horizontal-position]="'center'"  [draggable]="true" [remember-window-position]="true" [show-window]="opened" [header]="true" [footer]="true" > 
	  <amexio-header> 
        {{formMsg}} Устройство::Описание 
<amexio-box *ngIf="valid==false" border-color ="red" border="all" padding="true" background-color="yellow">
	<amexio-label font-color="red"  border="bottom">Ошибка заполнения формы</amexio-label>
</amexio-box>
      </amexio-header> 
     <amexio-body> 
     <amexio-row><amexio-column size="12" >
	 <amexio-dropdown 
	 [place-holder] = "'Узел'"
	 name ="TheNode"
	 [field-label]= "'Узел'"
            [allow-blank]="false" [error-msg] ="'Не задано: Узел'" 
	 
	 [display-field]="'name'"
	 [value-field]="'id'"
	 [data]="AppService.ComboMONN_DEF"
	 
	 [(ngModel)]="currentMONDEV_BDEVICES.TheNode"
	 >
  </amexio-dropdown>
     </amexio-column></amexio-row>
     <amexio-row><amexio-column size="12" >
                    <amexio-text-input [field-label]= "'Название'" name ="Name"  
                    [place-holder] = "'Название'" 
                    [icon-feedback] = "true" [(ngModel)]="currentMONDEV_BDEVICES.Name" >
                    </amexio-text-input>
     </amexio-column></amexio-row>
     <amexio-row><amexio-column size="12" >
                    <amexio-text-input [field-label]= "'Телефон'" name ="ThePhone"  
                    [place-holder] = "'Телефон'" 
                    [icon-feedback] = "true" [(ngModel)]="currentMONDEV_BDEVICES.ThePhone" >
                    </amexio-text-input>
     </amexio-column></amexio-row>
     <amexio-row><amexio-column size="12" >
<amexio-label>Адрес</amexio-label>
<ngx-wig  
 [(ngModel)]="currentMONDEV_BDEVICES.Addr"
 [placeholder]="'Адрес'" 
 [buttons]="'bold,italic,link,list1,list2'">
</ngx-wig>
     </amexio-column></amexio-row>
     <amexio-row><amexio-column size="12" >
	 <amexio-dropdown 
	 [place-holder] = "'Устройство'"
	 name ="DEVType"
	 [field-label]= "'Устройство'"
            [allow-blank]="false" [error-msg] ="'Не задано: Устройство'" 
	 
	 [display-field]="'name'"
	 [value-field]="'id'"
	 [data]="AppService.ComboMOND_DEVTYPE"
	 
	 [(ngModel)]="currentMONDEV_BDEVICES.DEVType"
	 >
  </amexio-dropdown>
     </amexio-column></amexio-row>
     <amexio-row><amexio-column size="12" >
	 <amexio-dropdown 
	 [place-holder] = "'Снабжающая орг.'"
	 name ="Shab"
	 [field-label]= "'Снабжающая орг.'"
            [allow-blank]="false" [error-msg] ="'Не задано: Снабжающая орг.'" 
	 
	 [display-field]="'name'"
	 [value-field]="'id'"
	 [data]="AppService.ComboMOND_SNAB"
	 
	 [(ngModel)]="currentMONDEV_BDEVICES.Shab"
	 >
  </amexio-dropdown>
     </amexio-column></amexio-row>
     <amexio-row><amexio-column size="12" >
	 <amexio-dropdown 
	 [place-holder] = "'Группа'"
	 name ="DevGrp"
	 [field-label]= "'Группа'"
            [allow-blank]="false" [error-msg] ="'Не задано: Группа'" 
	 
	 [display-field]="'name'"
	 [value-field]="'id'"
	 [data]="AppService.ComboMOND_GRP"
	 
	 [(ngModel)]="currentMONDEV_BDEVICES.DevGrp"
	 >
  </amexio-dropdown>
     </amexio-column></amexio-row>
     <amexio-row><amexio-column size="12" >
	 <amexio-dropdown 
	 [place-holder] = "'Схема подключения'"
	 name ="THESCHEMA"
	 [field-label]= "'Схема подключения'"
            [allow-blank]="false" [error-msg] ="'Не задано: Схема подключения'" 
	 
	 [display-field]="'name'"
	 [value-field]="'id'"
	 [data]="AppService.ComboMONSCH_INFO"
	 
	 [(ngModel)]="currentMONDEV_BDEVICES.THESCHEMA"
	 >
  </amexio-dropdown>
     </amexio-column></amexio-row>
     <amexio-row><amexio-column size="12" >
  <amexio-date-time-picker   [field-label]="'Заблокированно до'" 
        [time-picker]="true"  
        [date-picker]="true"  
        [(ngModel)]="currentMONDEV_BDEVICES.NPLOCK"> 
 </amexio-date-time-picker> 
     </amexio-column></amexio-row>
     <amexio-row><amexio-column size="12" >
<amexio-dropdown 
	 [field-label]="'Подключен'" name ="CONNECTED" 
                    [place-holder]="'Подключен'" 
	 [(ngModel)]="currentMONDEV_BDEVICES.CONNECTED"
            [allow-blank]="false" [error-msg] ="'Не задано: Подключен'" 
	 [display-field]="'name'"
	 [value-field]="'id'"
	 [data]="AppService.enumBooleanCombo()"
	 >
</amexio-dropdown>
     </amexio-column></amexio-row>
	</amexio-body> 
	<amexio-action> 
	<amexio-row> 
	<amexio-column size="12"> 
     <amexio-button  [label]="'Отмена'" (onClick)="opened = false;  refreshMONDEV_BDEVICES();" [type]="'secondary'" [tooltip]="'Отмена'" [icon]="'fa fa-times'"></amexio-button>
     <amexio-button  [label]="'Сохранить'" (onClick)="save(currentMONDEV_BDEVICES)" [type]="'success'" [tooltip]="'Сохранить'" [icon]="'fa fa-save'"></amexio-button>
	</amexio-column> 
	</amexio-row> 
	</amexio-action> 
</amexio-window> 
   
<!-- list Of row pane --> 
<amexio-card [show]="true" [header] ="true" [footer] ="false" > 
    <amexio-header> 
	<amexio-row> 
		<amexio-column size="12" > 
		<amexio-button [label]="'Создать'" [type]="'secondary'" [tooltip]="'Создать новую запись'" [icon]="'fa fa-plus'" (onClick)="onNew()"></amexio-button>
		<amexio-button [disabled]="currentMONDEV_BDEVICES.MONDEV_BDEVICESId==null" [label]="'Изменить'" (onClick)="onEdit(currentMONDEV_BDEVICES)" [type]="'secondary'" [tooltip]="'Изменить запись'" [icon]="'fa fa-edit'"></amexio-button>
     <amexio-button [disabled]="currentMONDEV_BDEVICES.MONDEV_BDEVICESId==null" [label]="'Удалить'" (onClick)="onDelete(currentMONDEV_BDEVICES)" [type]="'secondary'" [tooltip]="'Удалить запись'" [icon]="'fa fa-trash'"></amexio-button>
     <amexio-button  [label]="'Обновить'" (onClick)="refreshMONDEV_BDEVICES()" [type]="'secondary'" [tooltip]="'Обновить данные'" [icon]="'fa fa-refresh'"></amexio-button>
		</amexio-column>
	</amexio-row> 
	</amexio-header> 
	<amexio-body> 
		<amexio-datagrid 
		  [title]="'Устройство::Описание'" 
		  [page-size] = "10" 
		  [enable-data-filter]="false" 
		  [enable-checkbox]="false" 
		  [data]="MONDEV_BDEVICESArray" 
		  (selectedRowData)="onSelect($event)" 
		  (rowSelect)="onSelect($event)"> 
		  <amexio-data-table-column [data-index]="'TheNode_name'" [data-type]="'string'" [hidden]="false" [text]="'Узел'"></amexio-data-table-column> 
		  <amexio-data-table-column [data-index]="'Name'" [data-type]="'string'" [hidden]="false" [text]="'Название'"> 
 		  <ng-template #amexioBodyTmpl let-column let-row="row">
             {{  ((row.Name) ? ((row.Name.length>100) ? row.Name.substr(0,100)+'...' : row.Name ) : '-') | removehtmltag }} 
           </ng-template>
		  </amexio-data-table-column> 
		  <amexio-data-table-column [data-index]="'ThePhone'" [data-type]="'string'" [hidden]="false" [text]="'Телефон'"> 
 		  <ng-template #amexioBodyTmpl let-column let-row="row">
             {{  ((row.ThePhone) ? ((row.ThePhone.length>100) ? row.ThePhone.substr(0,100)+'...' : row.ThePhone ) : '-') | removehtmltag }} 
           </ng-template>
		  </amexio-data-table-column> 
		  <amexio-data-table-column [data-index]="'Addr'" [data-type]="'string'" [hidden]="false" [text]="'Адрес'"> 
 		  <ng-template #amexioBodyTmpl let-column let-row="row">
             {{  ((row.Addr) ? ((row.Addr.length>100) ? row.Addr.substr(0,100)+'...' : row.Addr ) : '-') | removehtmltag }} 
           </ng-template>
		  </amexio-data-table-column> 
		  <amexio-data-table-column [data-index]="'DEVType_name'" [data-type]="'string'" [hidden]="false" [text]="'Устройство'"></amexio-data-table-column> 
		  <amexio-data-table-column [data-index]="'Shab_name'" [data-type]="'string'" [hidden]="false" [text]="'Снабжающая орг.'"></amexio-data-table-column> 
		  <amexio-data-table-column [data-index]="'DevGrp_name'" [data-type]="'string'" [hidden]="false" [text]="'Группа'"></amexio-data-table-column> 
		  <amexio-data-table-column [data-index]="'THESCHEMA_name'" [data-type]="'string'" [hidden]="false" [text]="'Схема подключения'"></amexio-data-table-column> 
		  <amexio-data-table-column [data-index]="'NPLOCK'" [data-type]="'string'" [hidden]="false" [text]="'Заблокированно до'"></amexio-data-table-column> 
		  <amexio-data-table-column [data-index]="'CONNECTED_name'" [data-type]="'string'" [hidden]="false" [text]="'Подключен'"></amexio-data-table-column> 
		</amexio-datagrid> 
	</amexio-body> 
</amexio-card> 
 
<!-- confirm delete  dialog -->  
<amexio-window  [(show-window)]="confirmOpened" [closable]="false" [header]="true" [footer]="true" >  
     
    <amexio-header>
Удалить строку:  Устройство::Описание ?
    </amexio-header> 
    <amexio-body> 
            Удалить запись: {{ ( (currentMONDEV_BDEVICES.Name +'; '+  currentMONDEV_BDEVICES.Addr||'').length >100 ? (currentMONDEV_BDEVICES.Name +'; '+  currentMONDEV_BDEVICES.Addr||'').substr(0,100)+'...' : (currentMONDEV_BDEVICES.Name +'; '+  currentMONDEV_BDEVICES.Addr||'')) | removehtmltag }}?  
	</amexio-body> 
	<amexio-action> 
	<amexio-row> 
	<amexio-column size="12"> 
     <amexio-button  [label]="'Отмена'" (onClick)="confirmOpened = false" [type]="'secondary'" [tooltip]="'Отмена'" [icon]="'fa fa-times'"></amexio-button>
     <amexio-button  [label]="'Удалить'" (onClick)="onConfirmDeletion()" [type]="'danger'" [tooltip]="'Удалить'" [icon]="'fa fa-trash'"></amexio-button>
	</amexio-column> 
	</amexio-row> 
	</amexio-action> 
</amexio-window> 
 
